/* css styles */



/* ┏┓╻┏━┓┏━┓┏┳┓┏━┓╻     ┏┳┓┏━┓┏━┓╻┏ ╻ ╻┏━┓   ┏━┓╺┳╸╻ ╻╻  ┏━╸┏━┓ */
/* ┃┗┫┃ ┃┣┳┛┃┃┃┣━┫┃     ┃┃┃┣━┫┣┳┛┣┻┓┃ ┃┣━┛   ┗━┓ ┃ ┗┳┛┃  ┣╸ ┗━┓ */
/* ╹ ╹┗━┛╹┗╸╹ ╹╹ ╹┗━╸   ╹ ╹╹ ╹╹┗╸╹ ╹┗━┛╹     ┗━┛ ╹  ╹ ┗━╸┗━╸┗━┛ */

#quarto-document-content {
    /* quite good formula apparently */
    /* not as good as the default one */
    /* font-size: calc(.5em + .8vw); */
}

p {
    font-weight: 100;
}
strong {
    font-weight: 900;
}

/* make titles and banners monospace */
h1.title {
    font-family: monospace;
}
.navbar-brand-container {
    font-family: monospace;
}

/* shadows on the navbar and titles */
.navbar, .navbar-title,
.navbar-nav>.nav-item>.nav-link,
h1.title {
    filter: drop-shadow(2px 2px 2px #000000bb);
}



pre code { /* style of code blocks */
    font-family: "JetBrains Pro" "Fira Code" monospace; /* use jetBrainsPro or FiraCode if possible */
    /* background-color: var(--bs-dark);  /1* set a dark background color *1/ */
}


/* ╻ ╻┏━╸┏┓ ┏━┓╻╺┳╸┏━╸   ┏━╸╻  ┏━╸┏┳┓┏━╸┏┓╻╺┳╸┏━┓   ┏━┓╺┳╸╻ ╻╻  ┏━╸┏━┓ */
/* ┃╻┃┣╸ ┣┻┓┗━┓┃ ┃ ┣╸    ┣╸ ┃  ┣╸ ┃┃┃┣╸ ┃┗┫ ┃ ┗━┓   ┗━┓ ┃ ┗┳┛┃  ┣╸ ┗━┓ */
/* ┗┻┛┗━╸┗━┛┗━┛╹ ╹ ┗━╸   ┗━╸┗━╸┗━╸╹ ╹┗━╸╹ ╹ ╹ ┗━┛   ┗━┛ ╹  ╹ ┗━╸┗━╸┗━┛ */

button {
    border: 2px solid var(--bs-light);
    border-radius: 4.5px;
    padding: 5px;
    color: var(--bs-blue);
}




