/* css styles */

#quarto-document-content {
    /* quite good formula apparently */
    /* not as good as the default one /*
    /* font-size: calc(.5em + .8vw); */
}



/* make titles and banners monospace */
h1.title {
    font-family: monospace;
}
.navbar-brand-container {
    font-family: monospace;
}


pre code {
    font-family: "JetBrains Pro", "Fira Code", monospace;
}
pre code {
    background-color: var(--bs-dark);
}


button {
    border: 2px solid var(--bs-light);
    border-radius: 4.5px;
    padding: 5px;
    color: var(--bs-blue);
}




